/* .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  } */
  .card {
    display: grid;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    width: 25%;
    height: 280px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}
  
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin: 12px;
    font-size: 34px;
}
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  .container0 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      
  }
  .button {
    display: inline-block;
    border-radius: 18px;
    background-color: #138aff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    height: 53px;
    width: 35%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}
  
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .row{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media(max-width:768px){
    .card-text h2 {
      margin: 29px;
      font-size: 28px;
  }
  .card {
    width: 90%;
}
.button {
  padding: 10px;
  height: 54px;
  width: 30%;
  margin-top: 10px;
}
  }